* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', serif;
}

.wrapper {
    background-color: #e8e8e8;
}

.page {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: 70px auto;
    height: fit-content;
    width: 85%;
    border-radius: 10px;
    padding: 0 20px 30px;
}

input {
    display: block;
}

nav {
    height: 70px;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px #d0d0d0;
    background-color: white;
}

.nav-item {
    display: inline-block;
    padding: 0 10px;
    float: left;
}

.nav-item:hover {
    background-color: #f5f5f5;
}

.nav-item:active {
    box-shadow:inset 0 0 0 2px #9d9d9d;
}

.nav-link {
    text-decoration: none;
}

.nav-item a{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    line-height: 70px;
}

.nav-item a:hover{
    color: rgb(47, 47, 47);
}

.nav-item a:active{
    color: rgb(47, 47, 47);
}

#fr {
    float: right;
}

.main-nav {
    margin: 0 150px;
}

footer {
    height: 70px;
    line-height: 70px;
    background-color: #282829;
}

.foot {
    width: 85%;
    margin: 0 auto;
}

.foot a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
}

h2 {
    font-size: 100px;
    text-align: center;
    font-weight: 400;
}

p {
    text-align: center;
    font-weight: 250;
    font-size: 18px;
}

@media screen and (min-width: 1000px) {
    p {
        font-size: 22px;
    }
}

#name a{
    color: #4CAF50;
    font-weight: 900;
}

@media screen and (max-width: 750px) {
    .main-nav {
        margin: 0 100px;
    }
}

@media screen and (max-width: 650px) {
    .page {
        width: inherit;
        padding-left: 10px;
        padding-right: 10px;
    }
    .foot {
        width: inherit;
        padding-left: 15px;
    }
    #fr {
        float: inherit;
    }
    .main-nav {
        width: fit-content;
        margin: 0 auto;
    }
}

@media screen and (min-height: 850px) {
    .page {
        margin-bottom: 100px;
    }
}